#toolbar
{
  width: auto;
  height: 215px;
  background-image: url(mindthegap.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

#right
{
  float: right;
  width: 49%;
  display:inline;
  text-align: center;
}

#left
{
  width: 49%;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
}

h1
{
	text-align: center;
	font-family: arial;
	color: #04108e;
}

.round
{
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
}

button
{
	font-family: arial;
	font-size: 20px;
	background-color: #04108e;
	font-style: bold;
	color: white;
}

#output
{
	color: #04108e;
	text-align: center;
	width: auto;
	font-family: arial;
	font-size: 12px;
	padding-top: 10px;
}